<div class="row my-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center my-5">404</h1>
      <h3 class="mb-3">Sorry, the page you were looking for does not exist or is not available</h3>
      <p>{{error}}</p>
      <p class="text-center"><a class="btn btn-warning btn-lg" href="/users/login">返回</a></p>
    </div>
  </div>
</div>